<div class="container">
  <div class="chat-wrapper">
    <p>
      Deploy Chabot
    </p>
    <div id="output" class="chat">

    </div>
    <!-- <div class="text-interaction">
      <input type="text" submit="submit" />
      <button>Send</button>
    </div> -->
    <div class="suggestion-interaction">
      <p>
        Suggestions
      </p>
      <div id="select-option">
        <button value="test" class="chatbutton">Test</button>
        <button value="puppies" class="chatbutton">Puppies</button>
        <button value="blue" class="chatbutton">Blue</button>
      </div>
    </div>
  </div>
</div>
