<footer>
	<div class="content-wrapper">

		<div class="footer-logo">

			<h3><a href="/" class="link">&#183;Deploy</a></h3>

		</div>

		<div class="clearfix">

			<div class="flex-ns justify-between">

				<div class="footer-menu">

					<ul>
						<li><a href="/values" class="link">About</a></li>
						<li><a href="/team" class="link">Team</a></li>
						<li><a href="/products" class="link">Work</a></li>
						<li><a href="/contact" class="link">Contact</a></li>
					</ul>
				</div>

				<div class="social-media">
					<h4 class="social-media-text">Follow us</h4>
					<ul>
						{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
						{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}
						{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
					</ul>
				</div>

			</div>

		</div>

	</div>

</footer>

 {{ partial "svg" . }}
