<div class="mw7 center ph3 pv4">

	<div class="flex flex-wrap mhn1">

		<div class="w-100 hover-text">
			<img src="{{ .image3.image }}" alt="{{ .image3.alt }}">
			<div class="text-block">
				<h2>CaterBee </h2>
				<p>Indentity & Webpage design</p>
			</div>
		</div>

		<div class="w-100 hover-text">
			<img src="{{ .image3.image }}" alt="{{ .image3.alt }}">
			<div class="text-block">
				<h2>PWC</h2>
				<p>Chatbot</p>
			</div>
		</div>

		<div class="w-100 hover-text">
			<img src="{{ .image3.image }}" alt="{{ .image3.alt }}">
			<div class="text-block">
				<h2>Awesome Company</h2>
				<p>Chatbot</p>
			</div>
		</div>

	</div>

</div>
