/*! TACHYONS v4.5.5 | http://tachyons.io */

/*
 *
 *      ________            ______
 *      ___  __/_____ _________  /______  ______________________
 *      __  /  _  __ `/  ___/_  __ \_  / / /  __ \_  __ \_  ___/
 *      _  /   / /_/ // /__ _  / / /  /_/ // /_/ /  / / /(__  )
 *      /_/    \__,_/ \___/ /_/ /_/_\__, / \____//_/ /_//____/
 *                                 /____/
 *
 *    TABLE OF CONTENTS
 *
 *    1. External Library Includes
 *       - Reset.css | http://meyerweb.com/eric/tools/css/reset/
 *    2. Tachyons Modules
 *    3. Variables
 *       - Media Queries
 *       - Colors
 *    4. Debugging
 *       - Debug all
 *       - Debug children
 *
 */


/* External Library Includes */
@import './imports/_reset';

/* Modules */
@import './imports/_box-sizing';
@import './imports/_images';
@import './imports/_background-size';
@import './imports/_background-position';
@import './imports/_outlines';
@import './imports/_borders';
@import './imports/_border-radius';
@import './imports/_border-style';
@import './imports/_border-widths';
@import './imports/_border-colors';
@import './imports/_code';
@import './imports/_coordinates';
@import './imports/_clears';
@import './imports/_display';
@import './imports/_flexbox';
@import './imports/_floats';
@import './imports/_font-style';
@import './imports/_font-weight';
@import './imports/_forms';
@import './imports/_heights';
@import './imports/_line-height';
@import './imports/_links';
@import './imports/_lists';
@import './imports/_max-widths';
@import './imports/_widths';
@import './imports/_overflow';
@import './imports/_position';
@import './imports/_opacity';
@import './imports/_spacing';
@import './imports/_text-decoration';
@import './imports/_text-align';
@import './imports/_text-transform';
@import './imports/_type-scale';
@import './imports/_typography';
@import './imports/_utilities';
@import './imports/_visibility';
@import './imports/_white-space';
@import './imports/_vertical-align';
@import './imports/_states';
@import './imports/_z-index';
@import './imports/_styles';
@import './imports/_buttons';
@import './imports/_svg';
@import './imports/_cms';

/* Variables */
/* Importing here will allow you to override any variables in the modules */
@import './imports/_colors';
@import './imports/_media-queries';
@import './imports/_variables';

/* Debugging */
@import './imports/_debug-children';
@import './imports/_debug-grid';

/* Uncomment out the line below to help debug layout issues */
/*@import './imports/_debug';*/

@import './fonts/fonts';
@import url(https://use.fontawesome.com/releases/v5.0.6/css/all.css);

html {
 box-sizing: border-box;
}
*, *:before, *:after {
 box-sizing: inherit;
}

html {
  color: #222;
  line-height: 1.4;
  font-family: moderat_bold;
}

body {
  font-size: 16px;
}

/* Fonts */

.font-main {
  font-family: moderat_bold;
}

.font-secondary {
  font-family: monospace;
}

/* Logo */

#logo {
  font-size: 2em;
  transform: rotate(-90deg);
  cursor: pointer;
  color: white;
  text-decoration: none;
}

/* Menu Navigation */

nav {
  top: 0;
  width: 100%;
  z-index: 9999;
  text-align: left;
}

/*** INPUT ***/
nav input {
  position: absolute;
  z-index: -1;
}

/*** LABEL ***/
nav label {
  cursor: pointer;
  font: 2em/1 'Oswald', sans-serif;
  padding: 0.5em;
  background-color: transparent;
  opacity: 1;
  position: absolute;
  width: 100%;
  pointer-events: all;
  z-index: 10;
}

/* Hamburger Icon */
#menu-icon,
#menu-icon:before,
#menu-icon:after {
  background: white;
  border-radius: 0.05em;
  height: 0.2em;
  transition: all 0.2s ease-in-out;
  width: 100%;
}

#menu-icon {
  margin-top: 1em;
  display: inline-block;
  margin: 0.4em 0;
  max-width: 1.5em;
  position: relative;
}

nav label #menu-icon {
  float: right;
}

#menu-icon:before,
#menu-icon:after {
  content: '';
  left: 0;
  position: absolute;
}

#menu-icon:before {
  top: -0.4em;
}

#menu-icon:after {
  bottom: -0.4em;
}

/* Close Icon - Cross bars */
nav input[type=checkbox]:checked + label #menu-icon {
  background: transparent;
}

nav input[type=checkbox]:checked + label #menu-icon:before {
  top: 0;
  transform: rotate(-45deg);
}

nav input[type=checkbox]:checked + label #menu-icon:after {
  bottom: 0;
  transform: rotate(45deg);
}

/*** MENU ***/
/* Overlay */

#overlay {
  display: none;
  height: 100%;
  width: 50%;
  right: 0;
  top: 0;
  position: fixed;
  z-index: 2;
}

nav input:checked ~ #overlay {
  display: block;
  background: #e5e5e5;
}

/* List */

#overlay ul {
  font-size: 5em;
  padding: 200px;
  text-decoration: none;
}

#overlay ul a {
  color: white;
  text-decoration: none;
}

#overlay ul a:hover {
  color: blue;
  text-decoration: underline;
}

input:focus+label, textarea:focus+labe {
  transform: none;
}

/* Main Hero */

.flex-container {
  background-image: url('../img/Header_image.jpg');
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position: right top;
  border: solid;
}

.grid-container {
  height: 1033px;
  width: 100%;
}

/* Hero */

.hero {
  text-align: center;
}

/* Content */

.content-wrapper {
  width: 100%;
  max-width: 875px;
  margin: 0 auto;
}

/* Social Media */

.social-media {
  display: inline-flex;
}

.social-media-text {
  font-size: 0.7em;
  padding-right: 25px;
  padding-top: 7px;
}

.social-media .svg-inline--fa {
  font-size: 2.5em;
  padding-right: 5px;
}

footer {
  padding: 35px 0;
  color: white;
  background-color: blue;
}

footer a {
  color: white;
  text-decoration: none;
}

.footer-logo {
  font-size: 2.37em;
}

.clearfix {
  width: 100%;
  font-size: 1.4em;
}

.footer-menu ul {
  padding-left: 0;
}

.footer-menu li {
  display: inline;
  padding-right: 25px;
}
